on: push
name: CI
jobs:
  phpunit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Install composer dependencies
        run: |
          composer update
          composer install --no-scripts
      - name: Prepare Laravel Application
        run: |
          cp .env.ci .env
          php artisan key:generate
          php artisan migrate
      - name: Install front-end dependencies
        run: |
          npm install
          npm run dev
      - name: Run Testsuite
        run: vendor/bin/phpunit tests/
